@{
    Layout = "_Layout_signedin";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Task Management</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GroupProject.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <p>Edit Project</p>
    </header>

    <div class="container">
        <form method="post" action="/Projects/Edit">
            <div class="form-group">
                <label for="projectName">Project Name</label><br>
                <input type="text" id="projectName" name="projectName" value="my project"><br>
                <label for="lname">Edit the start date</label><br>
                <input type="text" id="lname" name="lname" value="start date"><br>
                <label for="lname">Edit the end date</label><br>
                <input type="text" id="lname" name="lname" value="end date"><br><br>

            </div>
            <button type="submit" class="btn btn-primary">Save Changes</button>
            <input type="submit" value="Delete Project">
        </form>
    </div>
</body>
</html>