@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout_signedin";
}




<div class="text-center">
    <h1 class="display-4">Welcome to task manager!</h1>
    <p>Task Manager is a useful tool in your everyday life. Smaller issues can be organized and solved by
        <a  asp-area="" asp-controller="Home" asp-action="ManageTask"> creating tasks</a>. Have a bigger problem that 
        needs to be solved? Not an issue!<a  asp-area="" asp-controller="Home" asp-action="CreateProject"> Create a project</a> 
        and sub divide it into smaller tasks or combine multiple tasks to create a project</p>
  
   
</div>