@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 class="display-4">Welcome to task manager!</h1>
    <p>Task Manager is a useful tool in your everyday life. Smaller issues can be organized and solved by creating tasks. Have a bigger problem that needs to be solved? Not an issue! Create a project and sub divide it into smaller tasks or combine multiple tasks to create a project</p>
    <a  asp-area="" asp-controller="Home" asp-action="Login">Log in</a>
    <p>Don't have an account yet?</p>
    <a  asp-area="" asp-controller="Home" asp-action="Signup">Create new account</a>
   
</div>
