@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout_signedin";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Task Management</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GroupProject.styles.css" asp-append-version="true" />
</head>
 <body>
    <header>
        <h1>Task List</h1>
    </header>

    <section class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Task Name</th>
                            <th>Completion Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        <tr>
                            <td>Task 1</td>
                            <td>2023-11-10</td>
                        </tr>
                        <tr>
                            <td>Task 2</td>
                            <td>2023-11-15</td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </section>

  
 </body>
</html>
